.container {
  @apply w-5/6 mx-auto my-10;
}

.body {
  @apply grid grid-cols-4 gap-10;
}

.individual {
  @apply h-52 border-solid border-2 border-blue-300 hover:border-red-500 hover:cursor-pointer hover:translate-y-10;
}

.card {
  width: 280px;
  height: 250px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.4s ease-out;
  border: 2px solid #d3d3d3;
}

.card:hover {
  transform: translateY(20px);
  cursor: pointer;
  box-shadow: 3px 3px gray;
}
